
html, body {
  height: 100%;
  color: #61DAFB;
  background: #2D2D2D;
}

h1 {
  margin: 20px 0 15px 0;  
}

#main {
  width: 100%;
  margin: 14px;
  text-align: center;
}

ul {
  list-style: none;
}

ul>li:hover {
  background-color: #F5F5F5;
}

.form-inline .form-control {
  width: 50%;
  margin-left: 80px;
}

.done {
  color: red;
  text-decoration: line-through;
}

.undone {
  color: #61DAFB;
}

.btn{
  margin: 20px;
}

.icon {
  margin: 6px 10px 6px 0;
}